.SearchContainer {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SearchContainer i {
  font-size: 32px;
  margin: 0 10px;
}

.SearchContainer img {
  max-height: 50px;
}
