.usernameInput {
  border: #e1306c solid 2px;
  border-radius: 10px;
}

.passwordInput {
  background: #f56040;
  color: white;
  border: #f56040 solid 2px;
  border-radius: 10px;
}

.loginButton {
  background: #405de6;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
